
<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-md-4 mb-4 mb-md-0">
            <mat-card>
                <h2>
                    {{isInEditMode ? 'Update Student' : 'Add Student'}}
                </h2>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" #fname class="form-control">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" #lname class="form-control">
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" #Email class="form-control">
                </div>

                <div class="form-group">
                    <label for="Contact">Contact</label>
                    <input type="text" #Contact class="form-control">
                </div>
                <div class="form-group">
                    <label for="isActive">Is Active</label>
                    <select type="text" #isActive class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>

                    </select>
                </div>
                <button *ngIf="!isInEditMode" (click)="onStdAdd()" mat-raised-button color="primary" class="btn-block">
                    Add Student
                </button>

                <button *ngIf="isInEditMode" (click)="onUpdate()" mat-raised-button color="warn" class="btn-block">
                    Update Student
                </button>
            </mat-card>
        </div>


        <div class="col-md-8">
            <mat-card class="table-responsive">
                <table class="table table-bordered" *ngIf="stdsArr.length > 0; else nostudents">

                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Is Active</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let std of stdsArr; let i=index"
                        [ngStyle]="{
                            'background-color': std.isActive ? 'lightgreen' : 'lightcoral'
                        }" >

                            <td>{{i+1}}</td>
                            <td>{{std.fname}} {{std.lname}}</td>
                            <td>{{std.email}}</td>
                            <td>{{std.contact}}</td>
                            <td>
                                <strong class="badge text-white p-2" [ngClass]="{
                                'bg-success' : std.isActive,
                                'bg-danger' : !std.isActive
                            }">
                                    {{std.isActive ? 'Yes': 'No'}}
                                </strong>
                            </td>
                            <td>
                                <button (click)="onEdit(std)" mat-mini-fab color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>


                            <td>
                                <button (click)="onRemove(std.stdId)" mat-mini-fab color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </mat-card>
            <ng-template #nostudents>
                <p class="alert alert-info">
                    No students data added yet !!!
                </p>
            </ng-template>

        </div>

    </div>
</div>








